@model ControleDeFuncionarios.Models.ColaboradorModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>ColaboradorModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeColaborador" class="control-label"></label>
                <input asp-for="NomeColaborador" class="form-control" />
                <span asp-validation-for="NomeColaborador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAdmissao" class="control-label"></label>
                <input asp-for="DataAdmissao" class="form-control" />
                <span asp-validation-for="DataAdmissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDemissao" class="control-label"></label>
                <input asp-for="DataDemissao" class="form-control" />
                <span asp-validation-for="DataDemissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa.Cnpj" class="control-label"></label>
                <input asp-for="Empresa.Cnpj" class="form-control" />
                <span asp-validation-for="Empresa.Cnpj" class="text-danger"></span>
            </div>
            <div class="form-group">    
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
