@{
	ViewData["Title"] = "Colaborador";
}

<div class="text-center">
	<h1 class="display-4">Lista de colaboradores</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nome</th>
				<th scope="col">Matricula</th>
				<th scope="col">Opções</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Larissa</td>
				<td>AA1234</td>
				<td>
					<div class=" ">
						<a class="btn btn-primary" role="button">Visualizar</a>
						<a class="btn btn-primary" role="button" asp-controller="Colaborador" asp-action="Editar">Editar</a>
					</div>
				</td>
			</tr>

			<tr>
				<th scope="row">2</th>
				<td>Marcos</td>
				<td>AB9876</td>
				<td>
					<div >
						<a class="btn btn-primary" role="button">Visualizar</a>
						<a class="btn btn-primary" role="button" asp-controller="Colaborador" asp-action="Editar">Editar</a>
					</div>
				</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Alexandre</td>
				<td>AD9875</td>
				<td>
					<div >
						<a class="btn btn-primary" role="button">Visualizar</a>
						<a class="btn btn-primary" role="button" asp-controller="Colaborador" asp-action="Editar">Editar</a>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>
