@model ControleDeFuncionarios.Models.ColaboradorModel

@{
	ViewData["Title"] = "Cadastro";
}

<div class="text-center">
	<h1 class="display-4">Cadastro</h1>
	<hr />
</div>

<div>
	<h2 class="display-6"> Dados do Colaborador</h2>
	<form class="row g-3" asp-action="Criar" method="post">
		<div class="col-md-6">
			<label class="form-label">Nome completo</label>
			<input type="text" asp-for="NomeColaborador" class="form-control" placeholder='Thiago Sales Alves'>
		</div>
		<div class="col-md-3">
			<label class="form-label">CPF</label>
			<input type="text" asp-for="Cpf" class="form-control" \
				   pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" placeholder=" xxx.xxx.xxx-xx">
		</div>
		<div class="col-3">
			<label class="form-label">Matricula</label>
			<input type="text" asp-for="Matricula" class="form-control" pattern="^[A-Z]{2}\d{4}$" placeholder="AA1234">
		</div>

		<h2 class="display-6">Cargo atribuido</h2>

		<div class="col-md-3">
			<label class="form-label">Nome</label>
			<input type="text" asp-for="Cargo.Funcao" class="form-control" placeholder='Desenvolvedor júnior'>
		</div>
		<div class="col-md-3">
			<label class="form-label">CBO(classificação brasileira de ocupações)</label>
			<input type="text" asp-for="Cargo.Cbo" class="form-control" placeholder="">
		</div>
		<div class="col-5">
			<label class="form-label">Descrição da Atividade</label>
			<textarea type="text" asp-for="Cargo.Descricao" class="form-control" placeholder=""></textarea>
		</div>

		<div class="col-md-2">
			<label class="form-label">Data de Admissão</label>
			<input asp-for="DataAdmissao" class="form-control" />
		</div>

		<h2 class="display-6">Dados da Empresa</h2>

		<div class="col-3">
			<label class="form-label">Razão Social</label>
			<input type="text" asp-for="Empresa.RazaoSocial" class="form-control" placeholder="">
		</div>
		<div class="col-md-6">
			<label class="form-label">Nome Fantasia</label>
			<input type="text" asp-for="Empresa.NomeFantasia" class="form-control" placeholder='Nydus'>
		</div>
		<div class="col-md-3">
			<label class="form-label">CNPJ</label>
			<input type="text" asp-for="Empresa.Cnpj" class="form-control" \
				   pattern="\d{2}\.\d{3}\.\d{3}/\d{4}-\d{2}" placeholder=" xx.xxx.xxx/xxxx-xx">
		</div>
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
			<a asp-action="Index" class="btn btn-primary">Voltar</a>
		</div>
	</form>
	@if (ViewData.ModelState.ContainsKey("Matricula"))
	{
		<div class="text-danger">
			@Html.ValidationMessage("Matricula")
		</div>
	}
</div>
